input[type="button"] {
  margin-top: 20px;
}

input[type="number"] {
  width: 28px;
}
#result td {
    text-align: center;
}
#wrapper {
     /*width: 960px;*/
     margin: 0 auto;
     text-align:center;
}
#dashboard, #answer-inputs, #result{
  display:inline-block;
}
#table-input td{
  width:40px;
}
/* turn off "input number" spinner*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}